/* Footer.css */
.footer-container {
    background-color: rgba(16, 103, 30, 0.993);
    padding: 10px 0;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container p {
    margin: 0;
  }
  